<section class="row center w-40-p m-auto box-info">
  <mat-card class="w-12-p m-auto row middel" fxLayout.md="column">
    <article class="m-auto-h">
      <span class="animate__animated animate__bounce animate__delay-1s">{{Usuarios.length}}</span>
    </article>
    <article class="m-auto-h ">
      <h3>Total de contactos</h3>
    </article>
  </mat-card>
  <mat-card class="w-12-p m-auto row middel animate__animated animate__fadeInRight">
    <article class="m-auto-h">
      <span>{{UsuarioCumple.length}}</span>
    </article>
    <article class="m-auto-h">
      <h3>Cumpleaños hoy</h3>
    </article>
  </mat-card>
  <mat-card class="w-12-p m-auto row middel animate__animated animate__fadeInRight animate__delay__800">
    <article class="m-auto-h">
      <span>{{UsuarioMayor.length}}</span>
    </article>
    <article class="m-auto-h">
      <h3>Mayores de edad</h3>
    </article>
  </mat-card>
</section>
<section class="graph row center">
  <article class="linea">
    <app-graph></app-graph>
  </article>
  <article class="table-content">
    <section class="table">
      <article class="name-table">
        <h2>Ultimos contacto registrados</h2>
      </article>
      <article class="row header h-22">
        <div class="col">Nombres</div>
        <div class="col">Número</div>
      </article>
      <article class="row body h-17" *ngFor="let item of Usuarios.slice(0, 5)">
        <div class="pl-12 pt-4 m-auto-r">{{item.nombre | uppercase}}</div>
        <div class="pr-12 pt-4">{{item.celular}}</div>
      </article>
      <button mat-icon-button color="secundary" aria-label="Menu icon" class="btn-add" routerLink="/add">
        <mat-icon>person_add</mat-icon>
      </button>
    </section>
  </article>
</section>
