<div style="display: block;" *ngIf="Usuarios.length">
  <canvas baseChart 
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"
    [plugins]="lineChartPlugins">
  </canvas>
</div>
<!-- Mensaje de grafica -->
<div *ngIf="!Usuarios.length" class="row center" style="height: 100%;">
	<h1  class="center m-auto row animate__animated animate__fadeInUp">Añade un contacto a tu lista para ver graficas de contenido</h1>
</div>
