* {
  margin: 0px;
  padding: 0px;

}

:host {
  max-width: 120px;
}

.main {
  padding: 10px;

  aside {
    width: 45px;
    padding: 15px 0px 15px 0px;
    overflow: hidden;
    z-index: 99;
    border-radius: 50px;
    transition: all 0.8s;

    ul {
      list-style: none;
      width: 100%;

      li {
        padding: 10px 5px;
        position: relative;
        min-height: 25px;

        &:hover {
          position: relative;
          bottom: 5px;

          >span,a {
            position: fixed;
            background: #fafafa;
            padding: 7px 56px 3px 17px;
            border-radius: 25px;
            box-shadow: 4px 3px 8px #e2e2e2;
            width: max-content;

            span {
              &.red {
                width: 30px;
                height: 30px;
                right: 6px;
                color: #fff;
                box-shadow: 0px 0px 60px #e74c3c;
                top: 4px;
              }

              &.yellow {
                width: 30px;
                height: 30px;
                right: 6px;
                color: #fff;
                box-shadow: 0px 0px 60px #f1c40f;
                top: 4px;
              }

              &.green {
                width: 30px;
                height: 30px;
                right: 6px;
                color: #fff;
                box-shadow: 0px 0px 60px #27ae60;
                top: 4px;
              }
            }
          }

        }

        >span, a {
          font-size: 14px;
          color: #4a4a4a;
          text-decoration: none;
          text-transform: uppercase;
          white-space: nowrap;
          display: inline-block;
          cursor: pointer;
          width: 20px;
          transition: all 0.7s ease;

          span {
            display: inline-block;
            vertical-align: middle;
            width: 38px;

            &.notif {
              position: absolute;
              top: 8px;
              width: 30px;
              height: 30px;
              right: 10px;
              line-height: 31px;
              background: #343436;
              color: #fff;
              border-radius: 100%;
              text-align: center;

              &.green {
                width: 10px;
                height: 10px;
                color: transparent;
                right: 5px;
                transition: all 0.2s ease;
              }

              &.yellow {
                width: 10px;
                height: 10px;
                color: transparent;
                right: 5px;
                transition: all 0.2s ease;
              }

              &.red {
                width: 10px;
                height: 10px;
                color: transparent;
                right: 5px;
                transition: all 0.2s ease;
              }
            }
          }
        }
      }
    }
  }
}
