<mat-drawer-container class="h-50-v" [hasBackdrop]="false" autosize>
  <mat-drawer #drawer mode="side">
    <app-sidenav (toggle)="drawer.toggle()"></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <button (click)="drawer.toggle()" mat-icon-button color="accent" aria-label="Menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Juancho Web</span>
    </mat-toolbar>
    <section class="pl-12 pt-8 pr-12 conten">
      <router-outlet></router-outlet>
    </section>
  </mat-drawer-content>
</mat-drawer-container>
